html,
body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'iconfont'; /* project id 395009 */
  src: url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.eot');
  src: url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.woff') format('woff'),
    url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_395009_9f3ws9c9udg.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-stroke-width: 0.2px; */
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
